@-moz-viewport {width: device-width; scale:1}
@-ms-viewport {width: device-width; scale:1}
@-o-viewport {width: device-width; scale:1}
@-webkit-viewport {width: device-width; scale:1}
@viewport {width: device-width; scale:1}

html {
	height: -webkit-fill-available;
	scroll-behavior: smooth;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	display: flex;
	height: 100vh;
	height: -webkit-fill-available;
	padding-top: env(safe-area-inset-top);
	background: linear-gradient(to top, rgba(30,35,38,.3), rgba(30,35,38,0.6)), url(img/bg.webp);
    background-repeat: no-repeat;
    background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.image-container {
	padding-top: 40px;
	text-align: center;
	width: 100%;
}

.links-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links-container .youtube {
	width: 329.58px;
	content: "";
	display: table;
	clear: both;
}

#yt1 {
	float: left;
	width: 33.33%;
	color: #00a700;
}

#yt2 {
	float: left;
	width: 33.33%;
	color: #ff0000;
}

#yt3 {
	float: left;
	width: 33.33%;
	color: #0090ff;
}

@media (min-width: 1200px) .container {
	max-width: 1140px;
}

@media (min-width: 992px) .container {
	max-width: 960px;
}

@media (min-width: 768px) {
.container {
    max-width: 720px;
  }

.link {
    width: 100%;
  }
}

@media (min-width: 576px) {
.container {
    max-width: 540px;
  }
}

@media all and (min-width: 481px) {
	.desktop {
		display: flex;
	}
	.mobile {
		display: none;
	}
}

@media all and (max-width: 480px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: flex;
	}
}

.button-icon-left {
	float: left;
	width: 33,33333%;
	text-align: left !important;
	margin-top: 2.5px;
	font-size: 22px;
}

.button-text-center {
	float: left;
	width: 66,66666%;
	text-align: center !important;
	padding-right: 45px !important;
}

.front {
	display: block;
	padding: 12px 22px;
	border-radius: 30px;
	font-size: 1.25rem;
	background-color: #222;
	color: #fff;
	transform: translateY(-6px);
	width: 320px;
	height: 50px;
}

.pushable {
	background-color: #111;
	border: none;
	border-radius: 30px;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	width: 320px;
	height: 50px;
    color: #fff;
    position: relative;
    z-index: 0;
	text-align: center;
	text-decoration: none;
	user-select: none;
}

.pushable:before {
    content: '';
    background: linear-gradient(90deg, #00a700, #00a700);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.pushable:active:after {
    background: #111;
}

.pushable:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 30px;
}

.pushable:hover:before {
    opacity: 1;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.pushable:active .front {
	transform: translateY(-2px);
	color: #00a700
}

.frontyt {
	display: block;
	padding: 12px 22px;
	border-radius: 30px;
	font-size: 1.25rem;
	background-color: #222;
	color: #fff;
	transform: translateY(-6px);
	width: 100.14px;
	height: 50px;
}

.green.frontyt {
	display: block;
	padding: 12px 22px;
	border-radius: 30px;
	font-size: 1.25rem;
	background-color: #222;
	color: #00a700;
	transform: translateY(-6px);
	width: 100.14px;
	height: 50px;
}

.purple.frontyt {
	display: block;
	padding: 12px 22px;
	border-radius: 30px;
	font-size: 1.25rem;
	background-color: #222;
	color: #8b44f7;
	transform: translateY(-6px);
	width: 100.14px;
	height: 50px;
}

.red.frontyt {
	display: block;
	padding: 12px 22px;
	border-radius: 30px;
	font-size: 1.25rem;
	background-color: #222;
	color: #f02e2e;
	transform: translateY(-6px);
	width: 100.14px;
	height: 50px;
}

.frontyt:hover#one {
	color: #00a700;
}

.frontyt:hover#two {
	color: #8b44f7;
}

.frontyt:hover#three {
	color: #f02e2e;
}

.pushableyt {
	background-color: #111;
	border: none;
	border-radius: 30px;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	width: 100.14px;
	height: 50px;
    color: #fff;
    position: relative;
    z-index: 0;
	text-align: center;
	text-decoration: none;
	user-select: none;
}

.uno.pushableyt:before {
    content: '';
    background: linear-gradient(90deg, #00a700, #00a700);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.dos.pushableyt:before {
    content: '';
    background: linear-gradient(90deg, #8b44f7, #8b44f7);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.tres.pushableyt:before {
    content: '';
    background: linear-gradient(90deg, #f02e2e, #f02e2e);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.pushableyt:active:after {
    background: #111;
}

.pushableyt:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 30px;
}

.pushableyt:hover:before {
    opacity: 1;
}

.pushableyt:focus:not(:focus-visible) {
    outline: none;
}

.pushableyt:active .frontyt {
	transform: translateY(-2px);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.bg-animation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	}

#stars {
	width: 1.5px;
	height: 1.5px;
	background: transparent;
	box-shadow: 117px 1613px #00A700, 1488px 635px #00A700, 944px 914px #00A700, 647px 277px #00A700, 1792px 1205px #00A700, 656px 1517px #00A700, 820px 1839px #00A700, 1153px 1400px #00A700, 870px 13px #00A700, 550px 702px #00A700, 1155px 1056px #00A700, 88px 1709px #00A700, 1450px 1090px #00A700, 1929px 457px #00A700, 1390px 905px #00A700, 1771px 269px #00A700, 1741px 669px #00A700, 432px 64px #00A700, 563px 996px #00A700, 1918px 1873px #00A700, 1845px 1211px #00A700, 231px 1503px #00A700, 37px 220px #00A700, 1970px 495px #00A700, 1812px 925px #00A700, 67px 1398px #00A700, 535px 279px #00A700, 1837px 829px #00A700, 1945px 685px #00A700, 1677px 1817px #00A700, 1317px 1415px #00A700, 1785px 905px #00A700, 1787px 1554px #00A700, 802px 1296px #00A700, 512px 1101px #00A700, 583px 1364px #00A700, 336px 558px #00A700, 979px 334px #00A700, 106px 792px #00A700, 204px 34px #00A700, 1845px 1763px #00A700, 445px 1599px #00A700, 386px 453px #00A700, 471px 952px #00A700, 1466px 1676px #00A700, 1885px 303px #00A700, 51px 1717px #00A700, 1211px 299px #00A700, 1546px 1887px #00A700, 1067px 33px #00A700, 1088px 1326px #00A700, 1938px 760px #00A700, 470px 648px #00A700, 1213px 269px #00A700, 1767px 78px #00A700, 977px 976px #00A700, 1926px 175px #00A700, 722px 1512px #00A700, 945px 227px #00A700, 1811px 99px #00A700, 1912px 1406px #00A700, 1602px 1243px #00A700, 610px 449px #00A700, 654px 1393px #00A700, 1930px 1193px #00A700, 258px 1184px #00A700, 89px 265px #00A700, 824px 1494px #00A700, 1506px 1435px #00A700, 1027px 753px #00A700, 1px 1197px #00A700, 530px 1161px #00A700, 864px 1555px #00A700, 1610px 1604px #00A700, 1035px 1114px #00A700, 1456px 133px #00A700, 1196px 1253px #00A700, 361px 1037px #00A700, 834px 351px #00A700, 436px 1676px #00A700, 1194px 1007px #00A700, 1141px 647px #00A700, 319px 454px #00A700, 937px 1769px #00A700, 1872px 1013px #00A700, 733px 643px #00A700, 1250px 511px #00A700, 189px 296px #00A700, 1639px 163px #00A700, 1584px 336px #00A700, 1912px 1343px #00A700, 1298px 1307px #00A700, 1750px 902px #00A700, 1129px 845px #00A700, 1899px 1470px #00A700, 1427px 232px #00A700, 1391px 838px #00A700, 1225px 1819px #00A700, 190px 1366px #00A700, 1865px 518px #00A700, 203px 1383px #00A700, 1455px 614px #00A700, 423px 354px #00A700, 1678px 1790px #00A700, 241px 608px #00A700, 1089px 730px #00A700, 1342px 38px #00A700, 1848px 249px #00A700, 1874px 1785px #00A700, 1040px 1837px #00A700, 751px 261px #00A700, 510px 1975px #00A700, 52px 795px #00A700, 1786px 1310px #00A700, 498px 712px #00A700, 190px 375px #00A700, 1341px 722px #00A700, 43px 1394px #00A700, 1821px 1687px #00A700, 106px 130px #00A700, 1717px 1978px #00A700, 168px 151px #00A700, 183px 740px #00A700, 945px 1381px #00A700, 669px 1170px #00A700, 1285px 1816px #00A700, 110px 1217px #00A700, 1623px 813px #00A700, 869px 647px #00A700, 867px 582px #00A700, 735px 1240px #00A700, 519px 1896px #00A700, 132px 156px #00A700, 1649px 193px #00A700, 241px 1109px #00A700, 643px 484px #00A700, 574px 1282px #00A700, 1952px 564px #00A700, 1978px 145px #00A700, 329px 903px #00A700, 1674px 617px #00A700, 1978px 558px #00A700, 1808px 1715px #00A700, 1526px 1238px #00A700, 475px 1330px #00A700, 810px 425px #00A700, 1709px 634px #00A700, 1658px 336px #00A700, 425px 194px #00A700, 352px 96px #00A700, 148px 180px #00A700, 1139px 1046px #00A700, 1809px 1233px #00A700, 1669px 171px #00A700, 263px 1394px #00A700, 534px 715px #00A700, 396px 1008px #00A700, 589px 1445px #00A700, 1190px 381px #00A700, 1709px 279px #00A700, 520px 891px #00A700, 1136px 1867px #00A700, 1280px 1233px #00A700, 836px 296px #00A700, 1348px 646px #00A700, 1539px 913px #00A700, 423px 781px #00A700, 1271px 1805px #00A700, 696px 564px #00A700, 1549px 804px #00A700, 303px 1555px #00A700, 1449px 1903px #00A700, 66px 687px #00A700, 1164px 856px #00A700, 1958px 1326px #00A700, 125px 157px #00A700, 508px 1669px #00A700, 465px 725px #00A700, 1925px 1440px #00A700, 405px 793px #00A700, 278px 110px #00A700, 1084px 1065px #00A700, 1077px 705px #00A700, 663px 1844px #00A700, 734px 263px #00A700, 870px 1761px #00A700, 103px 1169px #00A700, 1506px 1295px #00A700, 1883px 926px #00A700, 335px 1361px #00A700, 1126px 1284px #00A700, 257px 1165px #00A700, 837px 580px #00A700, 1211px 1362px #00A700, 1137px 1380px #00A700, 135px 632px #00A700, 1491px 1965px #00A700, 1098px 195px #00A700, 506px 417px #00A700, 693px 1243px #00A700, 622px 1862px #00A700, 1412px 1343px #00A700, 948px 1894px #00A700, 1315px 1363px #00A700, 754px 1098px #00A700, 1931px 930px #00A700, 1831px 342px #00A700, 1751px 1839px #00A700, 84px 775px #00A700, 1662px 1488px #00A700, 617px 1769px #00A700, 1869px 1292px #00A700, 963px 432px #00A700, 371px 1114px #00A700, 37px 642px #00A700, 21px 1184px #00A700, 602px 366px #00A700, 414px 524px #00A700, 282px 244px #00A700, 1689px 868px #00A700, 943px 681px #00A700, 898px 679px #00A700, 449px 1774px #00A700, 1678px 1313px #00A700, 475px 1811px #00A700, 1146px 1509px #00A700, 1151px 1863px #00A700, 1617px 846px #00A700, 82px 1077px #00A700, 324px 1317px #00A700, 1516px 885px #00A700, 1706px 1526px #00A700, 1925px 1180px #00A700, 553px 967px #00A700, 1072px 536px #00A700, 1715px 1816px #00A700, 185px 286px #00A700, 1362px 1600px #00A700, 628px 1938px #00A700, 1187px 412px #00A700, 569px 211px #00A700, 1959px 1356px #00A700, 1571px 105px #00A700, 319px 1111px #00A700, 36px 1364px #00A700, 502px 1788px #00A700, 1051px 1993px #00A700, 1617px 773px #00A700, 424px 1507px #00A700, 1623px 1955px #00A700, 307px 662px #00A700, 183px 1048px #00A700, 1919px 1453px #00A700, 1006px 1817px #00A700, 468px 673px #00A700, 1142px 1375px #00A700, 1228px 443px #00A700, 1734px 552px #00A700, 20px 1041px #00A700, 1783px 334px #00A700, 98px 1237px #00A700, 1356px 1940px #00A700, 853px 1779px #00A700, 1910px 560px #00A700, 1174px 1656px #00A700, 110px 1724px #00A700, 542px 1771px #00A700, 1758px 1931px #00A700, 1463px 1401px #00A700, 1155px 84px #00A700, 1504px 835px #00A700, 750px 322px #00A700, 407px 1900px #00A700, 1600px 1141px #00A700, 657px 886px #00A700, 526px 714px #00A700, 18px 836px #00A700, 1546px 1548px #00A700, 22px 469px #00A700, 594px 1466px #00A700, 1160px 1078px #00A700, 627px 1055px #00A700, 195px 699px #00A700, 1099px 684px #00A700, 530px 551px #00A700, 1160px 1325px #00A700, 894px 727px #00A700, 1157px 98px #00A700, 136px 1483px #00A700, 1875px 1975px #00A700, 1803px 566px #00A700, 318px 1073px #00A700, 1866px 1656px #00A700, 543px 414px #00A700, 719px 474px #00A700, 1115px 738px #00A700, 353px 875px #00A700, 184px 1938px #00A700, 1854px 1534px #00A700, 420px 1698px #00A700, 1480px 1550px #00A700, 522px 203px #00A700, 1897px 1904px #00A700, 975px 1708px #00A700, 1774px 602px #00A700, 1908px 274px #00A700, 61px 715px #00A700, 983px 1156px #00A700, 326px 1013px #00A700, 641px 290px #00A700, 1522px 120px #00A700, 405px 1637px #00A700, 1021px 1099px #00A700, 631px 1145px #00A700, 982px 1967px #00A700, 200px 651px #00A700, 795px 351px #00A700, 790px 1082px #00A700, 144px 1572px #00A700, 1542px 901px #00A700, 158px 1524px #00A700, 849px 1843px #00A700, 1807px 203px #00A700, 1747px 45px #00A700, 1603px 1738px #00A700, 617px 1966px #00A700, 342px 748px #00A700, 1779px 1173px #00A700, 1428px 152px #00A700, 589px 1998px #00A700, 1940px 1838px #00A700, 115px 272px #00A700, 1217px 1395px #00A700, 1402px 1491px #00A700, 1833px 1814px #00A700, 243px 966px #00A700, 319px 578px #00A700, 813px 364px #00A700, 669px 882px #00A700, 551px 134px #00A700, 1819px 920px #00A700, 740px 1826px #00A700, 1021px 952px #00A700, 1575px 453px #00A700, 324px 419px #00A700, 929px 417px #00A700, 885px 1112px #00A700, 503px 187px #00A700, 1908px 362px #00A700, 1063px 1601px #00A700, 169px 1792px #00A700, 789px 963px #00A700, 1697px 948px #00A700, 1761px 1810px #00A700, 1844px 1591px #00A700, 1709px 949px #00A700, 1402px 1396px #00A700, 1037px 225px #00A700, 1832px 518px #00A700, 1728px 1782px #00A700, 194px 1421px #00A700, 1395px 742px #00A700, 1478px 1325px #00A700, 40px 593px #00A700, 1732px 117px #00A700, 51px 158px #00A700, 1598px 1672px #00A700, 701px 849px #00A700, 1403px 1979px #00A700, 145px 1414px #00A700, 550px 906px #00A700, 1366px 460px #00A700, 142px 1379px #00A700, 34px 1864px #00A700, 1346px 308px #00A700, 293px 998px #00A700, 21px 1868px #00A700, 540px 1033px #00A700, 60px 746px #00A700, 1602px 1476px #00A700, 180px 804px #00A700, 345px 1982px #00A700, 1439px 640px #00A700, 939px 1834px #00A700, 20px 432px #00A700, 492px 1549px #00A700, 109px 1579px #00A700, 1796px 1403px #00A700, 1079px 519px #00A700, 1664px 389px #00A700, 1627px 1061px #00A700, 823px 419px #00A700, 1399px 1882px #00A700, 1906px 344px #00A700, 1189px 848px #00A700, 117px 882px #00A700, 1262px 33px #00A700, 1048px 434px #00A700, 1208px 1309px #00A700, 1616px 408px #00A700, 1833px 853px #00A700, 1433px 1656px #00A700, 811px 1861px #00A700, 439px 1672px #00A700, 1105px 248px #00A700, 328px 1652px #00A700, 13px 1658px #00A700, 685px 987px #00A700, 985px 403px #00A700, 1664px 1206px #00A700, 1993px 1925px #00A700, 440px 917px #00A700, 1835px 319px #00A700, 1404px 1907px #00A700, 624px 1443px #00A700, 843px 954px #00A700, 478px 1567px #00A700, 895px 1602px #00A700, 1231px 871px #00A700, 1267px 1646px #00A700, 475px 334px #00A700, 784px 796px #00A700, 1294px 199px #00A700, 109px 702px #00A700, 1978px 362px #00A700, 291px 940px #00A700, 971px 1343px #00A700, 74px 719px #00A700, 36px 715px #00A700, 1007px 1423px #00A700, 860px 314px #00A700, 631px 177px #00A700, 1900px 1590px #00A700, 1239px 1348px #00A700, 1346px 1270px #00A700, 1934px 1475px #00A700, 1553px 559px #00A700, 588px 1969px #00A700, 670px 1269px #00A700, 1484px 376px #00A700, 20px 1424px #00A700, 1396px 8px #00A700, 969px 244px #00A700, 1807px 538px #00A700, 1873px 891px #00A700, 636px 1142px #00A700, 1474px 1562px #00A700, 763px 350px #00A700, 663px 700px #00A700, 500px 1469px #00A700, 1302px 722px #00A700, 181px 291px #00A700, 266px 893px #00A700, 1403px 654px #00A700, 492px 460px #00A700, 1503px 1369px #00A700, 23px 1662px #00A700, 349px 333px #00A700, 1435px 1017px #00A700, 1441px 705px #00A700, 1708px 1446px #00A700, 1041px 911px #00A700, 1063px 780px #00A700, 1158px 1356px #00A700, 767px 1454px #00A700, 1912px 797px #00A700, 1731px 1759px #00A700, 1378px 1390px #00A700, 1815px 1364px #00A700, 960px 270px #00A700, 1343px 427px #00A700, 275px 203px #00A700, 1319px 1092px #00A700, 1455px 770px #00A700, 283px 1503px #00A700, 1505px 901px #00A700, 1738px 1561px #00A700, 1526px 1935px #00A700, 1757px 669px #00A700, 1640px 620px #00A700, 1750px 722px #00A700, 748px 66px #00A700, 1149px 540px #00A700, 159px 953px #00A700, 200px 1426px #00A700, 515px 1110px #00A700, 1552px 737px #00A700, 1094px 1459px #00A700, 778px 799px #00A700, 1031px 523px #00A700, 743px 1825px #00A700, 1100px 882px #00A700, 1088px 1836px #00A700, 255px 599px #00A700, 67px 1361px #00A700, 247px 1721px #00A700, 1722px 346px #00A700, 1822px 155px #00A700, 452px 1973px #00A700, 415px 1960px #00A700, 1109px 57px #00A700, 273px 1392px #00A700, 404px 1071px #00A700, 1212px 353px #00A700, 370px 460px #00A700, 795px 1523px #00A700, 1932px 340px #00A700, 51px 1473px #00A700, 1268px 364px #00A700, 1512px 1862px #00A700, 1678px 1801px #00A700, 1796px 579px #00A700, 254px 251px #00A700, 1466px 1717px #00A700, 893px 379px #00A700, 1153px 923px #00A700, 913px 1808px #00A700, 791px 789px #00A700, 417px 1924px #00A700, 1336px 1599px #00A700, 1695px 908px #00A700, 1120px 114px #00A700, 493px 1949px #00A700, 68px 1905px #00A700, 969px 481px #00A700, 1420px 1095px #00A700, 800px 1117px #00A700, 390px 234px #00A700, 356px 1644px #00A700, 1098px 1486px #00A700, 1360px 521px #00A700, 149px 1198px #00A700, 354px 747px #00A700, 1749px 487px #00A700, 470px 76px #00A700, 1672px 289px #00A700, 1731px 545px #00A700, 1547px 1590px #00A700, 498px 692px #00A700, 398px 1592px #00A700, 1846px 1237px #00A700, 1537px 1474px #00A700, 1726px 1374px #00A700, 1922px 858px #00A700, 376px 321px #00A700, 985px 227px #00A700, 234px 1421px #00A700, 760px 745px #00A700, 1990px 1132px #00A700, 1560px 1597px #00A700, 338px 1310px #00A700, 1924px 1664px #00A700, 547px 1747px #00A700, 1639px 1282px #00A700, 1202px 337px #00A700, 1985px 779px #00A700, 737px 456px #00A700, 89px 501px #00A700, 963px 792px #00A700, 655px 1447px #00A700, 1492px 1994px #00A700, 1171px 254px #00A700, 892px 827px #00A700, 1735px 442px #00A700, 1474px 1187px #00A700, 846px 1518px #00A700, 557px 1805px #00A700, 738px 945px #00A700, 795px 68px #00A700, 663px 1956px #00A700, 1607px 290px #00A700, 1524px 15px #00A700, 1097px 1911px #00A700, 157px 1939px #00A700, 935px 1065px #00A700, 1809px 1708px #00A700, 164px 1157px #00A700, 83px 855px #00A700, 625px 501px #00A700, 814px 398px #00A700, 552px 695px #00A700, 597px 1546px #00A700, 1237px 1417px #00A700, 628px 284px #00A700, 866px 767px #00A700, 1403px 1394px #00A700, 765px 1563px #00A700, 1648px 109px #00A700, 1205px 1659px #00A700, 921px 1313px #00A700, 1319px 243px #00A700, 18px 125px #00A700, 7px 777px #00A700, 181px 418px #00A700, 1062px 1892px #00A700, 382px 106px #00A700, 994px 751px #00A700, 964px 234px #00A700, 40px 118px #00A700, 278px 706px #00A700, 1540px 1978px #00A700, 425px 1661px #00A700, 1050px 321px #00A700, 735px 1729px #00A700, 1438px 260px #00A700, 1229px 1109px #00A700, 186px 1041px #00A700, 244px 1184px #00A700, 392px 1472px #00A700, 670px 1249px #00A700, 1260px 1443px #00A700, 1977px 1511px #00A700, 1240px 773px #00A700, 303px 513px #00A700, 63px 1530px #00A700, 610px 792px #00A700, 1987px 1647px #00A700, 676px 1597px #00A700, 1740px 1244px #00A700, 816px 1661px #00A700, 351px 802px #00A700, 252px 1082px #00A700, 31px 365px #00A700, 1453px 984px #00A700, 667px 1233px #00A700, 1247px 1800px #00A700, 839px 270px #00A700, 775px 913px #00A700, 1966px 1398px #00A700, 499px 813px #00A700, 922px 1982px #00A700, 1409px 1902px #00A700, 1499px 1766px #00A700, 721px 899px #00A700, 788px 807px #00A700, 989px 1355px #00A700, 1248px 1274px #00A700, 849px 1091px #00A700, 1799px 1036px #00A700, 1486px 700px #00A700, 170px 1989px #00A700, 1275px 799px #00A700, 772px 2000px #00A700, 1642px 362px #00A700, 216px 940px #00A700, 1893px 281px #00A700, 1944px 1298px #00A700, 1294px 400px #00A700, 1523px 441px #00A700, 1829px 340px #00A700, 468px 170px #00A700, 1099px 967px #00A700, 1331px 665px #00A700, 1174px 1553px #00A700, 1567px 325px #00A700, 1028px 1399px #00A700, 781px 1451px #00A700, 1912px 1954px #00A700, 874px 873px #00A700, 1298px 1722px #00A700, 1879px 706px #00A700, 57px 1221px #00A700, 1116px 1432px #00A700, 48px 811px #00A700, 101px 916px #00A700, 677px 304px #00A700, 1203px 639px #00A700, 1391px 199px #00A700, 1895px 1988px #00A700, 1462px 1023px #00A700, 1216px 1751px #00A700, 1261px 663px #00A700, 1290px 1119px #00A700, 137px 1793px #00A700, 1052px 1470px #00A700, 1561px 226px #00A700, 1156px 402px #00A700, 709px 693px #00A700, 1040px 1911px #00A700, 1624px 1115px #00A700, 551px 475px #00A700, 416px 1090px #00A700, 1183px 451px #00A700, 58px 765px #00A700, 743px 1016px #00A700, 198px 369px #00A700, 1645px 1503px #00A700, 997px 22px #00A700, 1447px 1323px #00A700, 379px 883px #00A700, 1171px 1195px #00A700, 919px 133px #00A700, 1400px 517px #00A700, 725px 804px #00A700, 1600px 699px #00A700, 357px 581px #00A700, 266px 1713px #00A700, 848px 1749px #00A700, 1963px 1045px #00A700, 119px 1136px #00A700;
	-webkit-animation: animStar 100s linear infinite;
	-moz-animation: animStar 100s linear infinite;
	-ms-animation: animStar 100s linear infinite;
	animation: animStar 100s linear infinite;
    }
        
#stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1.5px;
	height: 1.5px;
	background: transparent;
	box-shadow: 117px 1613px #00A700, 1488px 635px #00A700, 944px 914px #00A700, 647px 277px #00A700, 1792px 1205px #00A700, 656px 1517px #00A700, 820px 1839px #00A700, 1153px 1400px #00A700, 870px 13px #00A700, 550px 702px #00A700, 1155px 1056px #00A700, 88px 1709px #00A700, 1450px 1090px #00A700, 1929px 457px #00A700, 1390px 905px #00A700, 1771px 269px #00A700, 1741px 669px #00A700, 432px 64px #00A700, 563px 996px #00A700, 1918px 1873px #00A700, 1845px 1211px #00A700, 231px 1503px #00A700, 37px 220px #00A700, 1970px 495px #00A700, 1812px 925px #00A700, 67px 1398px #00A700, 535px 279px #00A700, 1837px 829px #00A700, 1945px 685px #00A700, 1677px 1817px #00A700, 1317px 1415px #00A700, 1785px 905px #00A700, 1787px 1554px #00A700, 802px 1296px #00A700, 512px 1101px #00A700, 583px 1364px #00A700, 336px 558px #00A700, 979px 334px #00A700, 106px 792px #00A700, 204px 34px #00A700, 1845px 1763px #00A700, 445px 1599px #00A700, 386px 453px #00A700, 471px 952px #00A700, 1466px 1676px #00A700, 1885px 303px #00A700, 51px 1717px #00A700, 1211px 299px #00A700, 1546px 1887px #00A700, 1067px 33px #00A700, 1088px 1326px #00A700, 1938px 760px #00A700, 470px 648px #00A700, 1213px 269px #00A700, 1767px 78px #00A700, 977px 976px #00A700, 1926px 175px #00A700, 722px 1512px #00A700, 945px 227px #00A700, 1811px 99px #00A700, 1912px 1406px #00A700, 1602px 1243px #00A700, 610px 449px #00A700, 654px 1393px #00A700, 1930px 1193px #00A700, 258px 1184px #00A700, 89px 265px #00A700, 824px 1494px #00A700, 1506px 1435px #00A700, 1027px 753px #00A700, 1px 1197px #00A700, 530px 1161px #00A700, 864px 1555px #00A700, 1610px 1604px #00A700, 1035px 1114px #00A700, 1456px 133px #00A700, 1196px 1253px #00A700, 361px 1037px #00A700, 834px 351px #00A700, 436px 1676px #00A700, 1194px 1007px #00A700, 1141px 647px #00A700, 319px 454px #00A700, 937px 1769px #00A700, 1872px 1013px #00A700, 733px 643px #00A700, 1250px 511px #00A700, 189px 296px #00A700, 1639px 163px #00A700, 1584px 336px #00A700, 1912px 1343px #00A700, 1298px 1307px #00A700, 1750px 902px #00A700, 1129px 845px #00A700, 1899px 1470px #00A700, 1427px 232px #00A700, 1391px 838px #00A700, 1225px 1819px #00A700, 190px 1366px #00A700, 1865px 518px #00A700, 203px 1383px #00A700, 1455px 614px #00A700, 423px 354px #00A700, 1678px 1790px #00A700, 241px 608px #00A700, 1089px 730px #00A700, 1342px 38px #00A700, 1848px 249px #00A700, 1874px 1785px #00A700, 1040px 1837px #00A700, 751px 261px #00A700, 510px 1975px #00A700, 52px 795px #00A700, 1786px 1310px #00A700, 498px 712px #00A700, 190px 375px #00A700, 1341px 722px #00A700, 43px 1394px #00A700, 1821px 1687px #00A700, 106px 130px #00A700, 1717px 1978px #00A700, 168px 151px #00A700, 183px 740px #00A700, 945px 1381px #00A700, 669px 1170px #00A700, 1285px 1816px #00A700, 110px 1217px #00A700, 1623px 813px #00A700, 869px 647px #00A700, 867px 582px #00A700, 735px 1240px #00A700, 519px 1896px #00A700, 132px 156px #00A700, 1649px 193px #00A700, 241px 1109px #00A700, 643px 484px #00A700, 574px 1282px #00A700, 1952px 564px #00A700, 1978px 145px #00A700, 329px 903px #00A700, 1674px 617px #00A700, 1978px 558px #00A700, 1808px 1715px #00A700, 1526px 1238px #00A700, 475px 1330px #00A700, 810px 425px #00A700, 1709px 634px #00A700, 1658px 336px #00A700, 425px 194px #00A700, 352px 96px #00A700, 148px 180px #00A700, 1139px 1046px #00A700, 1809px 1233px #00A700, 1669px 171px #00A700, 263px 1394px #00A700, 534px 715px #00A700, 396px 1008px #00A700, 589px 1445px #00A700, 1190px 381px #00A700, 1709px 279px #00A700, 520px 891px #00A700, 1136px 1867px #00A700, 1280px 1233px #00A700, 836px 296px #00A700, 1348px 646px #00A700, 1539px 913px #00A700, 423px 781px #00A700, 1271px 1805px #00A700, 696px 564px #00A700, 1549px 804px #00A700, 303px 1555px #00A700, 1449px 1903px #00A700, 66px 687px #00A700, 1164px 856px #00A700, 1958px 1326px #00A700, 125px 157px #00A700, 508px 1669px #00A700, 465px 725px #00A700, 1925px 1440px #00A700, 405px 793px #00A700, 278px 110px #00A700, 1084px 1065px #00A700, 1077px 705px #00A700, 663px 1844px #00A700, 734px 263px #00A700, 870px 1761px #00A700, 103px 1169px #00A700, 1506px 1295px #00A700, 1883px 926px #00A700, 335px 1361px #00A700, 1126px 1284px #00A700, 257px 1165px #00A700, 837px 580px #00A700, 1211px 1362px #00A700, 1137px 1380px #00A700, 135px 632px #00A700, 1491px 1965px #00A700, 1098px 195px #00A700, 506px 417px #00A700, 693px 1243px #00A700, 622px 1862px #00A700, 1412px 1343px #00A700, 948px 1894px #00A700, 1315px 1363px #00A700, 754px 1098px #00A700, 1931px 930px #00A700, 1831px 342px #00A700, 1751px 1839px #00A700, 84px 775px #00A700, 1662px 1488px #00A700, 617px 1769px #00A700, 1869px 1292px #00A700, 963px 432px #00A700, 371px 1114px #00A700, 37px 642px #00A700, 21px 1184px #00A700, 602px 366px #00A700, 414px 524px #00A700, 282px 244px #00A700, 1689px 868px #00A700, 943px 681px #00A700, 898px 679px #00A700, 449px 1774px #00A700, 1678px 1313px #00A700, 475px 1811px #00A700, 1146px 1509px #00A700, 1151px 1863px #00A700, 1617px 846px #00A700, 82px 1077px #00A700, 324px 1317px #00A700, 1516px 885px #00A700, 1706px 1526px #00A700, 1925px 1180px #00A700, 553px 967px #00A700, 1072px 536px #00A700, 1715px 1816px #00A700, 185px 286px #00A700, 1362px 1600px #00A700, 628px 1938px #00A700, 1187px 412px #00A700, 569px 211px #00A700, 1959px 1356px #00A700, 1571px 105px #00A700, 319px 1111px #00A700, 36px 1364px #00A700, 502px 1788px #00A700, 1051px 1993px #00A700, 1617px 773px #00A700, 424px 1507px #00A700, 1623px 1955px #00A700, 307px 662px #00A700, 183px 1048px #00A700, 1919px 1453px #00A700, 1006px 1817px #00A700, 468px 673px #00A700, 1142px 1375px #00A700, 1228px 443px #00A700, 1734px 552px #00A700, 20px 1041px #00A700, 1783px 334px #00A700, 98px 1237px #00A700, 1356px 1940px #00A700, 853px 1779px #00A700, 1910px 560px #00A700, 1174px 1656px #00A700, 110px 1724px #00A700, 542px 1771px #00A700, 1758px 1931px #00A700, 1463px 1401px #00A700, 1155px 84px #00A700, 1504px 835px #00A700, 750px 322px #00A700, 407px 1900px #00A700, 1600px 1141px #00A700, 657px 886px #00A700, 526px 714px #00A700, 18px 836px #00A700, 1546px 1548px #00A700, 22px 469px #00A700, 594px 1466px #00A700, 1160px 1078px #00A700, 627px 1055px #00A700, 195px 699px #00A700, 1099px 684px #00A700, 530px 551px #00A700, 1160px 1325px #00A700, 894px 727px #00A700, 1157px 98px #00A700, 136px 1483px #00A700, 1875px 1975px #00A700, 1803px 566px #00A700, 318px 1073px #00A700, 1866px 1656px #00A700, 543px 414px #00A700, 719px 474px #00A700, 1115px 738px #00A700, 353px 875px #00A700, 184px 1938px #00A700, 1854px 1534px #00A700, 420px 1698px #00A700, 1480px 1550px #00A700, 522px 203px #00A700, 1897px 1904px #00A700, 975px 1708px #00A700, 1774px 602px #00A700, 1908px 274px #00A700, 61px 715px #00A700, 983px 1156px #00A700, 326px 1013px #00A700, 641px 290px #00A700, 1522px 120px #00A700, 405px 1637px #00A700, 1021px 1099px #00A700, 631px 1145px #00A700, 982px 1967px #00A700, 200px 651px #00A700, 795px 351px #00A700, 790px 1082px #00A700, 144px 1572px #00A700, 1542px 901px #00A700, 158px 1524px #00A700, 849px 1843px #00A700, 1807px 203px #00A700, 1747px 45px #00A700, 1603px 1738px #00A700, 617px 1966px #00A700, 342px 748px #00A700, 1779px 1173px #00A700, 1428px 152px #00A700, 589px 1998px #00A700, 1940px 1838px #00A700, 115px 272px #00A700, 1217px 1395px #00A700, 1402px 1491px #00A700, 1833px 1814px #00A700, 243px 966px #00A700, 319px 578px #00A700, 813px 364px #00A700, 669px 882px #00A700, 551px 134px #00A700, 1819px 920px #00A700, 740px 1826px #00A700, 1021px 952px #00A700, 1575px 453px #00A700, 324px 419px #00A700, 929px 417px #00A700, 885px 1112px #00A700, 503px 187px #00A700, 1908px 362px #00A700, 1063px 1601px #00A700, 169px 1792px #00A700, 789px 963px #00A700, 1697px 948px #00A700, 1761px 1810px #00A700, 1844px 1591px #00A700, 1709px 949px #00A700, 1402px 1396px #00A700, 1037px 225px #00A700, 1832px 518px #00A700, 1728px 1782px #00A700, 194px 1421px #00A700, 1395px 742px #00A700, 1478px 1325px #00A700, 40px 593px #00A700, 1732px 117px #00A700, 51px 158px #00A700, 1598px 1672px #00A700, 701px 849px #00A700, 1403px 1979px #00A700, 145px 1414px #00A700, 550px 906px #00A700, 1366px 460px #00A700, 142px 1379px #00A700, 34px 1864px #00A700, 1346px 308px #00A700, 293px 998px #00A700, 21px 1868px #00A700, 540px 1033px #00A700, 60px 746px #00A700, 1602px 1476px #00A700, 180px 804px #00A700, 345px 1982px #00A700, 1439px 640px #00A700, 939px 1834px #00A700, 20px 432px #00A700, 492px 1549px #00A700, 109px 1579px #00A700, 1796px 1403px #00A700, 1079px 519px #00A700, 1664px 389px #00A700, 1627px 1061px #00A700, 823px 419px #00A700, 1399px 1882px #00A700, 1906px 344px #00A700, 1189px 848px #00A700, 117px 882px #00A700, 1262px 33px #00A700, 1048px 434px #00A700, 1208px 1309px #00A700, 1616px 408px #00A700, 1833px 853px #00A700, 1433px 1656px #00A700, 811px 1861px #00A700, 439px 1672px #00A700, 1105px 248px #00A700, 328px 1652px #00A700, 13px 1658px #00A700, 685px 987px #00A700, 985px 403px #00A700, 1664px 1206px #00A700, 1993px 1925px #00A700, 440px 917px #00A700, 1835px 319px #00A700, 1404px 1907px #00A700, 624px 1443px #00A700, 843px 954px #00A700, 478px 1567px #00A700, 895px 1602px #00A700, 1231px 871px #00A700, 1267px 1646px #00A700, 475px 334px #00A700, 784px 796px #00A700, 1294px 199px #00A700, 109px 702px #00A700, 1978px 362px #00A700, 291px 940px #00A700, 971px 1343px #00A700, 74px 719px #00A700, 36px 715px #00A700, 1007px 1423px #00A700, 860px 314px #00A700, 631px 177px #00A700, 1900px 1590px #00A700, 1239px 1348px #00A700, 1346px 1270px #00A700, 1934px 1475px #00A700, 1553px 559px #00A700, 588px 1969px #00A700, 670px 1269px #00A700, 1484px 376px #00A700, 20px 1424px #00A700, 1396px 8px #00A700, 969px 244px #00A700, 1807px 538px #00A700, 1873px 891px #00A700, 636px 1142px #00A700, 1474px 1562px #00A700, 763px 350px #00A700, 663px 700px #00A700, 500px 1469px #00A700, 1302px 722px #00A700, 181px 291px #00A700, 266px 893px #00A700, 1403px 654px #00A700, 492px 460px #00A700, 1503px 1369px #00A700, 23px 1662px #00A700, 349px 333px #00A700, 1435px 1017px #00A700, 1441px 705px #00A700, 1708px 1446px #00A700, 1041px 911px #00A700, 1063px 780px #00A700, 1158px 1356px #00A700, 767px 1454px #00A700, 1912px 797px #00A700, 1731px 1759px #00A700, 1378px 1390px #00A700, 1815px 1364px #00A700, 960px 270px #00A700, 1343px 427px #00A700, 275px 203px #00A700, 1319px 1092px #00A700, 1455px 770px #00A700, 283px 1503px #00A700, 1505px 901px #00A700, 1738px 1561px #00A700, 1526px 1935px #00A700, 1757px 669px #00A700, 1640px 620px #00A700, 1750px 722px #00A700, 748px 66px #00A700, 1149px 540px #00A700, 159px 953px #00A700, 200px 1426px #00A700, 515px 1110px #00A700, 1552px 737px #00A700, 1094px 1459px #00A700, 778px 799px #00A700, 1031px 523px #00A700, 743px 1825px #00A700, 1100px 882px #00A700, 1088px 1836px #00A700, 255px 599px #00A700, 67px 1361px #00A700, 247px 1721px #00A700, 1722px 346px #00A700, 1822px 155px #00A700, 452px 1973px #00A700, 415px 1960px #00A700, 1109px 57px #00A700, 273px 1392px #00A700, 404px 1071px #00A700, 1212px 353px #00A700, 370px 460px #00A700, 795px 1523px #00A700, 1932px 340px #00A700, 51px 1473px #00A700, 1268px 364px #00A700, 1512px 1862px #00A700, 1678px 1801px #00A700, 1796px 579px #00A700, 254px 251px #00A700, 1466px 1717px #00A700, 893px 379px #00A700, 1153px 923px #00A700, 913px 1808px #00A700, 791px 789px #00A700, 417px 1924px #00A700, 1336px 1599px #00A700, 1695px 908px #00A700, 1120px 114px #00A700, 493px 1949px #00A700, 68px 1905px #00A700, 969px 481px #00A700, 1420px 1095px #00A700, 800px 1117px #00A700, 390px 234px #00A700, 356px 1644px #00A700, 1098px 1486px #00A700, 1360px 521px #00A700, 149px 1198px #00A700, 354px 747px #00A700, 1749px 487px #00A700, 470px 76px #00A700, 1672px 289px #00A700, 1731px 545px #00A700, 1547px 1590px #00A700, 498px 692px #00A700, 398px 1592px #00A700, 1846px 1237px #00A700, 1537px 1474px #00A700, 1726px 1374px #00A700, 1922px 858px #00A700, 376px 321px #00A700, 985px 227px #00A700, 234px 1421px #00A700, 760px 745px #00A700, 1990px 1132px #00A700, 1560px 1597px #00A700, 338px 1310px #00A700, 1924px 1664px #00A700, 547px 1747px #00A700, 1639px 1282px #00A700, 1202px 337px #00A700, 1985px 779px #00A700, 737px 456px #00A700, 89px 501px #00A700, 963px 792px #00A700, 655px 1447px #00A700, 1492px 1994px #00A700, 1171px 254px #00A700, 892px 827px #00A700, 1735px 442px #00A700, 1474px 1187px #00A700, 846px 1518px #00A700, 557px 1805px #00A700, 738px 945px #00A700, 795px 68px #00A700, 663px 1956px #00A700, 1607px 290px #00A700, 1524px 15px #00A700, 1097px 1911px #00A700, 157px 1939px #00A700, 935px 1065px #00A700, 1809px 1708px #00A700, 164px 1157px #00A700, 83px 855px #00A700, 625px 501px #00A700, 814px 398px #00A700, 552px 695px #00A700, 597px 1546px #00A700, 1237px 1417px #00A700, 628px 284px #00A700, 866px 767px #00A700, 1403px 1394px #00A700, 765px 1563px #00A700, 1648px 109px #00A700, 1205px 1659px #00A700, 921px 1313px #00A700, 1319px 243px #00A700, 18px 125px #00A700, 7px 777px #00A700, 181px 418px #00A700, 1062px 1892px #00A700, 382px 106px #00A700, 994px 751px #00A700, 964px 234px #00A700, 40px 118px #00A700, 278px 706px #00A700, 1540px 1978px #00A700, 425px 1661px #00A700, 1050px 321px #00A700, 735px 1729px #00A700, 1438px 260px #00A700, 1229px 1109px #00A700, 186px 1041px #00A700, 244px 1184px #00A700, 392px 1472px #00A700, 670px 1249px #00A700, 1260px 1443px #00A700, 1977px 1511px #00A700, 1240px 773px #00A700, 303px 513px #00A700, 63px 1530px #00A700, 610px 792px #00A700, 1987px 1647px #00A700, 676px 1597px #00A700, 1740px 1244px #00A700, 816px 1661px #00A700, 351px 802px #00A700, 252px 1082px #00A700, 31px 365px #00A700, 1453px 984px #00A700, 667px 1233px #00A700, 1247px 1800px #00A700, 839px 270px #00A700, 775px 913px #00A700, 1966px 1398px #00A700, 499px 813px #00A700, 922px 1982px #00A700, 1409px 1902px #00A700, 1499px 1766px #00A700, 721px 899px #00A700, 788px 807px #00A700, 989px 1355px #00A700, 1248px 1274px #00A700, 849px 1091px #00A700, 1799px 1036px #00A700, 1486px 700px #00A700, 170px 1989px #00A700, 1275px 799px #00A700, 772px 2000px #00A700, 1642px 362px #00A700, 216px 940px #00A700, 1893px 281px #00A700, 1944px 1298px #00A700, 1294px 400px #00A700, 1523px 441px #00A700, 1829px 340px #00A700, 468px 170px #00A700, 1099px 967px #00A700, 1331px 665px #00A700, 1174px 1553px #00A700, 1567px 325px #00A700, 1028px 1399px #00A700, 781px 1451px #00A700, 1912px 1954px #00A700, 874px 873px #00A700, 1298px 1722px #00A700, 1879px 706px #00A700, 57px 1221px #00A700, 1116px 1432px #00A700, 48px 811px #00A700, 101px 916px #00A700, 677px 304px #00A700, 1203px 639px #00A700, 1391px 199px #00A700, 1895px 1988px #00A700, 1462px 1023px #00A700, 1216px 1751px #00A700, 1261px 663px #00A700, 1290px 1119px #00A700, 137px 1793px #00A700, 1052px 1470px #00A700, 1561px 226px #00A700, 1156px 402px #00A700, 709px 693px #00A700, 1040px 1911px #00A700, 1624px 1115px #00A700, 551px 475px #00A700, 416px 1090px #00A700, 1183px 451px #00A700, 58px 765px #00A700, 743px 1016px #00A700, 198px 369px #00A700, 1645px 1503px #00A700, 997px 22px #00A700, 1447px 1323px #00A700, 379px 883px #00A700, 1171px 1195px #00A700, 919px 133px #00A700, 1400px 517px #00A700, 725px 804px #00A700, 1600px 699px #00A700, 357px 581px #00A700, 266px 1713px #00A700, 848px 1749px #00A700, 1963px 1045px #00A700, 119px 1136px #00A700;
	}
	
#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1117px 1306px #00A700, 1078px 1783px #00A700, 1179px 1085px #00A700, 1145px 920px #00A700, 422px 1233px #00A700, 387px 98px #00A700, 1153px 637px #00A700, 1084px 782px #00A700, 476px 453px #00A700, 926px 1306px #00A700, 60px 1086px #00A700, 753px 1575px #00A700, 272px 1684px #00A700, 1285px 750px #00A700, 1416px 1327px #00A700, 1931px 473px #00A700, 736px 1395px #00A700, 1816px 763px #00A700, 438px 879px #00A700, 665px 1902px #00A700, 1341px 677px #00A700, 1404px 1073px #00A700, 100px 597px #00A700, 357px 1689px #00A700, 1044px 1342px #00A700, 1954px 502px #00A700, 1192px 1308px #00A700, 540px 1239px #00A700, 1360px 552px #00A700, 89px 752px #00A700, 659px 1253px #00A700, 62px 517px #00A700, 1375px 1705px #00A700, 1343px 1511px #00A700, 1659px 1922px #00A700, 1560px 289px #00A700, 1362px 1799px #00A700, 1886px 1480px #00A700, 1718px 1885px #00A700, 824px 738px #00A700, 1060px 1370px #00A700, 1781px 1171px #00A700, 255px 273px #00A700, 1197px 120px #00A700, 213px 7px #00A700, 1226px 1920px #00A700, 1844px 207px #00A700, 1675px 970px #00A700, 1435px 1283px #00A700, 37px 353px #00A700, 59px 417px #00A700, 921px 1602px #00A700, 1549px 1490px #00A700, 638px 1845px #00A700, 1328px 198px #00A700, 1050px 1149px #00A700, 1884px 711px #00A700, 333px 263px #00A700, 342px 1508px #00A700, 1388px 1810px #00A700, 1377px 1558px #00A700, 890px 487px #00A700, 1081px 759px #00A700, 890px 1515px #00A700, 911px 1284px #00A700, 335px 735px #00A700, 1140px 549px #00A700, 1239px 1064px #00A700, 226px 71px #00A700, 1100px 1278px #00A700, 1851px 1805px #00A700, 1370px 1999px #00A700, 1008px 1122px #00A700, 785px 813px #00A700, 1358px 601px #00A700, 1833px 1305px #00A700, 1768px 1304px #00A700, 1303px 532px #00A700, 860px 598px #00A700, 1329px 593px #00A700, 1038px 1088px #00A700, 408px 405px #00A700, 965px 82px #00A700, 1483px 1438px #00A700, 310px 1479px #00A700, 1786px 1500px #00A700, 1866px 852px #00A700, 18px 1757px #00A700, 1473px 1004px #00A700, 1542px 1933px #00A700, 633px 1970px #00A700, 1334px 1713px #00A700, 175px 28px #00A700, 592px 894px #00A700, 121px 1162px #00A700, 1601px 1567px #00A700, 1095px 657px #00A700, 640px 1233px #00A700, 1073px 1255px #00A700, 840px 1087px #00A700, 718px 250px #00A700, 967px 709px #00A700, 731px 239px #00A700, 1623px 593px #00A700, 1058px 1820px #00A700, 516px 1898px #00A700, 666px 12px #00A700, 1997px 1382px #00A700, 112px 1690px #00A700, 687px 1309px #00A700, 63px 539px #00A700, 185px 1897px #00A700, 1055px 1691px #00A700, 435px 1517px #00A700, 1175px 1119px #00A700, 1721px 133px #00A700, 1212px 47px #00A700, 166px 18px #00A700, 1416px 1652px #00A700, 1409px 1745px #00A700, 1357px 1232px #00A700, 1677px 1998px #00A700, 448px 1415px #00A700, 705px 1736px #00A700, 1031px 1466px #00A700, 543px 1651px #00A700, 1592px 1888px #00A700, 1749px 1175px #00A700, 639px 1114px #00A700, 1591px 508px #00A700, 759px 1244px #00A700, 824px 380px #00A700, 942px 955px #00A700, 723px 732px #00A700, 113px 1369px #00A700, 203px 1739px #00A700, 868px 733px #00A700, 713px 971px #00A700, 341px 833px #00A700, 762px 824px #00A700, 1359px 310px #00A700, 1858px 1349px #00A700, 1531px 692px #00A700, 1075px 1512px #00A700, 1677px 142px #00A700, 1912px 1478px #00A700, 1810px 1078px #00A700, 426px 844px #00A700, 1426px 588px #00A700, 1909px 654px #00A700, 1107px 295px #00A700, 1351px 527px #00A700, 1393px 599px #00A700, 1379px 1068px #00A700, 228px 1846px #00A700, 1271px 374px #00A700, 1348px 612px #00A700, 7px 1301px #00A700, 1501px 1782px #00A700, 1795px 423px #00A700, 1475px 1918px #00A700, 1328px 1861px #00A700, 1624px 51px #00A700, 1791px 672px #00A700, 1594px 1467px #00A700, 1655px 1603px #00A700, 919px 850px #00A700, 523px 609px #00A700, 1196px 207px #00A700, 753px 410px #00A700, 686px 1097px #00A700, 1570px 133px #00A700, 1996px 1137px #00A700, 361px 116px #00A700, 1015px 462px #00A700, 76px 1143px #00A700, 491px 1818px #00A700, 1563px 795px #00A700, 982px 1721px #00A700, 831px 1204px #00A700, 1737px 589px #00A700, 861px 1579px #00A700, 1666px 130px #00A700, 698px 1799px #00A700, 726px 1519px #00A700, 109px 1208px #00A700, 1184px 1057px #00A700, 835px 451px #00A700, 896px 594px #00A700, 35px 893px #00A700, 895px 542px #00A700, 706px 225px #00A700, 56px 1040px #00A700, 1954px 108px #00A700, 1439px 1423px #00A700, 26px 1881px #00A700, 802px 1564px #00A700, 273px 708px #00A700, 40px 31px #00A700, 859px 108px #00A700;
	-webkit-animation: animStar 600s linear infinite;
	-moz-animation: animStar 600s linear infinite;
	-ms-animation: animStar 600s linear infinite;
	animation: animStar 600s linear infinite;
	}
        
#stars2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1117px 1306px #00A700, 1078px 1783px #00A700, 1179px 1085px #00A700, 1145px 920px #00A700, 422px 1233px #00A700, 387px 98px #00A700, 1153px 637px #00A700, 1084px 782px #00A700, 476px 453px #00A700, 926px 1306px #00A700, 60px 1086px #00A700, 753px 1575px #00A700, 272px 1684px #00A700, 1285px 750px #00A700, 1416px 1327px #00A700, 1931px 473px #00A700, 736px 1395px #00A700, 1816px 763px #00A700, 438px 879px #00A700, 665px 1902px #00A700, 1341px 677px #00A700, 1404px 1073px #00A700, 100px 597px #00A700, 357px 1689px #00A700, 1044px 1342px #00A700, 1954px 502px #00A700, 1192px 1308px #00A700, 540px 1239px #00A700, 1360px 552px #00A700, 89px 752px #00A700, 659px 1253px #00A700, 62px 517px #00A700, 1375px 1705px #00A700, 1343px 1511px #00A700, 1659px 1922px #00A700, 1560px 289px #00A700, 1362px 1799px #00A700, 1886px 1480px #00A700, 1718px 1885px #00A700, 824px 738px #00A700, 1060px 1370px #00A700, 1781px 1171px #00A700, 255px 273px #00A700, 1197px 120px #00A700, 213px 7px #00A700, 1226px 1920px #00A700, 1844px 207px #00A700, 1675px 970px #00A700, 1435px 1283px #00A700, 37px 353px #00A700, 59px 417px #00A700, 921px 1602px #00A700, 1549px 1490px #00A700, 638px 1845px #00A700, 1328px 198px #00A700, 1050px 1149px #00A700, 1884px 711px #00A700, 333px 263px #00A700, 342px 1508px #00A700, 1388px 1810px #00A700, 1377px 1558px #00A700, 890px 487px #00A700, 1081px 759px #00A700, 890px 1515px #00A700, 911px 1284px #00A700, 335px 735px #00A700, 1140px 549px #00A700, 1239px 1064px #00A700, 226px 71px #00A700, 1100px 1278px #00A700, 1851px 1805px #00A700, 1370px 1999px #00A700, 1008px 1122px #00A700, 785px 813px #00A700, 1358px 601px #00A700, 1833px 1305px #00A700, 1768px 1304px #00A700, 1303px 532px #00A700, 860px 598px #00A700, 1329px 593px #00A700, 1038px 1088px #00A700, 408px 405px #00A700, 965px 82px #00A700, 1483px 1438px #00A700, 310px 1479px #00A700, 1786px 1500px #00A700, 1866px 852px #00A700, 18px 1757px #00A700, 1473px 1004px #00A700, 1542px 1933px #00A700, 633px 1970px #00A700, 1334px 1713px #00A700, 175px 28px #00A700, 592px 894px #00A700, 121px 1162px #00A700, 1601px 1567px #00A700, 1095px 657px #00A700, 640px 1233px #00A700, 1073px 1255px #00A700, 840px 1087px #00A700, 718px 250px #00A700, 967px 709px #00A700, 731px 239px #00A700, 1623px 593px #00A700, 1058px 1820px #00A700, 516px 1898px #00A700, 666px 12px #00A700, 1997px 1382px #00A700, 112px 1690px #00A700, 687px 1309px #00A700, 63px 539px #00A700, 185px 1897px #00A700, 1055px 1691px #00A700, 435px 1517px #00A700, 1175px 1119px #00A700, 1721px 133px #00A700, 1212px 47px #00A700, 166px 18px #00A700, 1416px 1652px #00A700, 1409px 1745px #00A700, 1357px 1232px #00A700, 1677px 1998px #00A700, 448px 1415px #00A700, 705px 1736px #00A700, 1031px 1466px #00A700, 543px 1651px #00A700, 1592px 1888px #00A700, 1749px 1175px #00A700, 639px 1114px #00A700, 1591px 508px #00A700, 759px 1244px #00A700, 824px 380px #00A700, 942px 955px #00A700, 723px 732px #00A700, 113px 1369px #00A700, 203px 1739px #00A700, 868px 733px #00A700, 713px 971px #00A700, 341px 833px #00A700, 762px 824px #00A700, 1359px 310px #00A700, 1858px 1349px #00A700, 1531px 692px #00A700, 1075px 1512px #00A700, 1677px 142px #00A700, 1912px 1478px #00A700, 1810px 1078px #00A700, 426px 844px #00A700, 1426px 588px #00A700, 1909px 654px #00A700, 1107px 295px #00A700, 1351px 527px #00A700, 1393px 599px #00A700, 1379px 1068px #00A700, 228px 1846px #00A700, 1271px 374px #00A700, 1348px 612px #00A700, 7px 1301px #00A700, 1501px 1782px #00A700, 1795px 423px #00A700, 1475px 1918px #00A700, 1328px 1861px #00A700, 1624px 51px #00A700, 1791px 672px #00A700, 1594px 1467px #00A700, 1655px 1603px #00A700, 919px 850px #00A700, 523px 609px #00A700, 1196px 207px #00A700, 753px 410px #00A700, 686px 1097px #00A700, 1570px 133px #00A700, 1996px 1137px #00A700, 361px 116px #00A700, 1015px 462px #00A700, 76px 1143px #00A700, 491px 1818px #00A700, 1563px 795px #00A700, 982px 1721px #00A700, 831px 1204px #00A700, 1737px 589px #00A700, 861px 1579px #00A700, 1666px 130px #00A700, 698px 1799px #00A700, 726px 1519px #00A700, 109px 1208px #00A700, 1184px 1057px #00A700, 835px 451px #00A700, 896px 594px #00A700, 35px 893px #00A700, 895px 542px #00A700, 706px 225px #00A700, 56px 1040px #00A700, 1954px 108px #00A700, 1439px 1423px #00A700, 26px 1881px #00A700, 802px 1564px #00A700, 273px 708px #00A700, 40px 31px #00A700, 859px 108px #00A700;
	}
	
@-webkit-keyframes animStar {
	from {
		-webkit-transform: translateY(0px);
		}
	to {
		-webkit-transform: translateY(-2000px);
		}
	}

@-moz-keyframes animStar {
	from {
		-moz-transform: translateY(0px);
		}
	to {
		-moz-transform: translateY(-2000px);
		}
	}

@-ms-keyframes animStar {
	from {
		-ms-transform: translateY(0px);
		}
	to {
		-ms-transform: translateY(-2000px);
		}
	}

@keyframes animStar {
	from {
		transform: translateY(0px);
		}
	to {
		transform: translateY(-2000px);
		}
	}
